In [1]:
from IPython.display import display, HTML
import pandas as pd

df = pd.DataFrame({'col1': [1, 2], 'col2': [3, 4]})
display(df) # Displays a formatted table in Jupyter
display(HTML("<h1>Hello, display!</h1>")) # Renders HTML

   col1  col2
0     1     3
1     2     4

In [3]:
!pip install PyPl

Collecting PyPl
  Downloading pypl-40.10-py3-none-any.whl.metadata (291 bytes)
Collecting svgwrite (from PyPl)
  Downloading svgwrite-1.4.3-py3-none-any.whl.metadata (8.8 kB)
Downloading pypl-40.10-py3-none-any.whl (6.1 kB)
Downloading svgwrite-1.4.3-py3-none-any.whl (67 kB)
Installing collected packages: svgwrite, PyPl
Successfully installed PyPl-40.10 svgwrite-1.4.3

In [5]:
# Spark SQL
!pip install pyspark[sql]
# pandas API on Spark
!pip install pyspark[pandas_on_spark] plotly  # to plot your data, you can install plotly together.
# Spark Connect
!pip install pyspark[connect]

zsh:1: no matches found: pyspark[sql]
zsh:1: no matches found: pyspark[pandas_on_spark]
zsh:1: no matches found: pyspark[connect]