In [2]:
import pandas as pd
from sphinx.ext.autodoc import between

In [3]:
happiness = pd.read_csv('/Users/AnirbanGuha/Library/CloudStorage/OneDrive-Personal/Udemy Courses/Data Science - data Prep and EDA with Python/Data+Science+in+Python+-+Data+Prep+%26+EDA/Data/happiness_survey_data.csv')

In [4]:
happiness.head()

,country_name,year,happiness_score,social_support,freedom_to_make_life_choices,healthy_life_expectancy_at_birth
0,Afghanistan,2008,3.723590,0.450662,0.718114,50.500000
1,Afghanistan,2009,4.401778,0.552308,0.678896,50.799999
2,Afghanistan,2010,4.758381,0.539075,0.600127,51.099998
3,Afghanistan,2011,3.831719,0.521104,0.495901,51.400002
4,Afghanistan,2012,3.782938,0.520637,0.530935,51.700001

In [5]:
happiness.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2089 entries, 0 to 2088
Data columns (total 6 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   country_name                      2089 non-null   object
 1   year                              2089 non-null   int64
 2   happiness_score                   2089 non-null   float64
 3   social_support                    2076 non-null   float64
 4   freedom_to_make_life_choices      2057 non-null   float64
 5   healthy_life_expectancy_at_birth  2031 non-null   float64
dtypes: float64(4), int64(1), object(1)
memory usage: 98.1+ KB

In [6]:
happiness_filtered = happiness[happiness.year.between(2010,2019, inclusive="both")]

In [15]:
df1 = (happiness_filtered.groupby('country_name')['happiness_score']
                    .max().sort_values(ascending=False).head(5).reset_index())

In [16]:
df1

  country_name  happiness_score
0      Finland         7.858107
1      Denmark         7.788232
2  Switzerland         7.776209
3       Norway         7.678277
4       Canada         7.650346

In [17]:
df2 = (happiness_filtered.groupby('country_name')['happiness_score']
       .mean().sort_values(ascending=False).head(5).reset_index())

In [19]:
df2

  country_name  happiness_score
0      Denmark         7.618252
1  Switzerland         7.568010
2      Finland         7.553138
3       Norway         7.541094
4      Iceland         7.518146

In [22]:
happiness_filtered.shape[0]

1412